<div class="overlay">

</div>
<h1 class="title">Software Developer</h1>
<h2 class="name">Tony Blum</h2>

<h4 class="contact">(778) 554-9703 &nbsp tonyblum@me.com &nbsp 13228 Old Yale Road &nbsp Surrey, BC &nbsp V3T 0K3</h4>

<h3 class="profile">Profile</h3>
￼￼<p class="profile-p"> ￼
Fresh out of CodeCore’s intense and comprehensive programming bootcamp. Building skills at the moment that emphasize clean, efficient code. My approach has always relied on using intuitive, clear, critical thinking, to contemplate the full project scope, then execute, and then anticipate and correct the issues as swiftly as possible. I pick up on concepts quickly and will rapidly become a productive force in any environment.
</p>

<h3 class="skills">Skills</h3>

<table style="width:50%" class="skills-p" font-size="2" >
  <tr>
    <td>HTML5</td>
    <td>Javascript</td>
    <td>Ruby on Rails</td>
    <td>Python</td>
    <td>PHP</td>
  </tr>
  <tr>
    <td>CSS3</td>
    <td>jQuery</td>
    <td>TDD/BDD</td>
    <td>Java</td>
    <td>Unity</td>
  </tr>
  <tr>
    <td>HAML</td>
    <td>AJAX</td>
    <td>OOP</td>
    <td>C#</td>
    <td>Git</td>
  </tr>
  <tr>
    <td>SASS</td>
    <td>Node.js</td>
    <td>Bootstrap</td>
    <td>C++</td>
    <td>MySQL</td>
  </tr>
  <tr>
    <td>LESS</td>
    <td>React.js</td>
    <td>Responsive WD</td>
    <td>Objective C</td>
    <td>Postgresql</td>
  </tr>

</table>

<h3 class="education">Education</h3>

<p class="education-p">CodeCore Developer Bootcamp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <span>Certified &nbsp 2015</span> <br>
Beaverlodge Regional High School &nbsp &nbsp &nbsp &nbsp <span>Diploma &nbsp 2003</span> <br> IWCF Supervisors Subsea Well Control
</p>

<h3 class="experience">Experience</h3>

<p class="experience-p-h">Offshore Drilling &nbsp &nbsp 2002 - 2015 <br><br>
<p class="experience-p">Drilled in Saudi Arabia, Mexico, Kenya, Singapore, Thailand, China, and Vietnam. Working with other cultures in that capacity is simply mind expanding.</p>
</p>

<h3 class="references">References</h3>

<p class="references-p">CodeCore <br> Division 1</p>

<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="assets/mfcc.mp4" type="video/mp4">
    </video>
</div>

    <script type="text/javascript">
        $('video').on('ended', function () {
          this.load();
          this.play();
        });
    </script>
